.card-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    padding-left: 1em;

    .card-main {
        position: relative;
        align-self: flex-start;

        .card-text, .level-text-container {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            height: 350px;
            width: 340px;
            z-index: 10;
            text-align: center;
            pointer-events: none;

            .name {
                font-family: 'BeaufortforLOLJa-Bold';
                font-size: 2em;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                width: 280px;
                overflow-wrap: break-word;
            }

            .description {
                font-family: 'Univers';
                font-size: 1em;
                color: #fff;
                margin: 10px 0;
                width: 260px;
                overflow-wrap: break-word;

                .keyword {
                    color: #E8CB6E;
                }
    
                .card-reference {
                    color: #4E8CC8;
                }
    
                .inline-icon {
                    width: 20px;
                    vertical-align: text-bottom;
                }
            }
        }

        .level-text-container {
            top: 420px;
            height: 0px;

            .description {
                color: #C4926E;
            }
        }

        .card-frame-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 512px;
            width: 340px;
            overflow: hidden;

            .card-frame {
                position: relative;
                height: 512px;
                width: 340px;
                z-index: 1;
                pointer-events: none;
            }

            .uploaded-img-container {
                position: absolute;
                height: 455px;
                width: 300px;
                overflow: hidden;
                z-index: 0;

                img {
                    height: 120%;
                    width: initial;
                }
            }

            .shader {
                position: absolute;
                bottom: 25px;
                width: 300px;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 100%);
                z-index: 1;
                pointer-events: none;
            }

            .spell-container {
                height: 250px;
                width: 220px;
                top: 20px;
                border-radius: 50%;
            }

            .region-icon {
                position: absolute;
                top: 425px;
                left: 147px;
                width: 50px;
                opacity: 0.65;
                z-index: 10;
            }

            .spell-position {
                top: 410px;
            }
        }

        .mana, .health, .power {
            position: absolute;
            z-index: 10;
            width: 50px;
            text-align: center;
            font-family: 'BeaufortforLOLJa-Bold';
            margin: 0;
        }

        .mana {
            top: 30px;
            left: 20px;
        }

        .health {
            top: 435px;
            left: 20px;
        }

        .power {
            top: 435px;
            right: 20px;
        }

        .level-condition {
            position: absolute;
            width: 340px;
            top: 100%;
            left: 0px;
            z-index: 12;
        }
    }

    .slider {
        width: 90%;
        margin-bottom: 1em;
    }
}
