.ui-input {
    span {
        display: block;
        font-weight: bold;
        color: #fff;
        font-size: 0.8em;
        transition: ease-in-out 0.2s;
    }

    &:focus-within {
        span {
            color: #E8175D;
            transition: ease-in-out 0.2s;
        }

        input {
            border-color: #E8175D;
        }
    }

    &:hover {
        span {
            color: #E8175D;
            transition: ease-in-out 0.2s;
        }

        input {
            border-color: #E8175D;
            transition: ease-in-out 0.2s;
        }
    }

    input {
        font-size: 1em;
        line-height: 20px;
        width: 100%;
        padding: 4px 2px;
        margin-top: 4px;
        color: #fff;
        border-bottom: 2px solid rgba(255, 255, 255, 0.8);
        transition: ease-in-out 0.2s;

        &::placeholder {
            color: rgba(255, 255, 255, 0.8)
        }
    }

}