@font-face {
  font-family: 'BeaufortforLOLJa-Bold';
  src: url('BeaufortforLOLJa-Bold.eot');
  src: url('BeaufortforLOLJa-Bold.eot?#iefix') format('embedded-opentype'),
       url('BeaufortforLOLJa-Bold.svg#BeaufortforLOLJa-Bold') format('svg'),
       url('BeaufortforLOLJa-Bold.ttf') format('truetype'),
       url('BeaufortforLOLJa-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}