@font-face {
  font-family: 'Univers 59 Ultra Condensed';
  src: url('Univers 59 Ultra Condensed.eot');
  src: url('Univers 59 Ultra Condensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-UltraCondensed';
  src: url('Univers-UltraCondensed.svg#Univers-UltraCondensed') format('svg'),
       url('Univers-UltraCondensed.ttf') format('truetype'),
       url('Univers-UltraCondensed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}