html, #root {
  height: 100%;
  font-family: sans-serif;
  background: #000b21;
}

.splash {
  display: flex;
  flex-direction: row;
  padding: 20px;

  .card-display {
    width: 50%;
  }

  .card-form {
    display: flex;
    flex-direction: column;

    .ui-input, .ui-textarea, .ui-button {
      align-self: flex-end;
    }
    width: 50%;
  }

  .ui-input {
    margin-top: 40px;
  }

  .ui-button {
    margin-top: 20px;
  }

  .ui-textarea {
    margin-top: 20px;
    width: 200px;
  }

  p {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
  }
}